.footer {
    background-color: black !important;

    .footer-h {
        font-family: 'Lobster', cursive !important;
        font-size: 30px !important;
        color: cadetblue !important;
    }

    .social-icons {
        .social-icon {
            display: inline-flex !important;
            align-content: center !important;
            margin-left: 5px !important;
            margin-right: 5px !important;
            color: wheat !important;
            display: inline-block !important;
            font-size: 40px !important;
            text-align: center !important;

            cursor: pointer;
            &:hover {
                color: $colour-7 !important;
                font-size: 39px !important;
            }
        }
    }

    .owner-sign {
        font-family: 'Playfair Display', serif !important;
        font-size: 15px !important;
        color: wheat !important;
    }
}