body {
    font-family: 'Lemonada', cursive;
    //color: $colour-primary;
    font-size: 2rem;
    //font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Lemonada', cursive;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Lemonada', cursive;
    //font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Lemonada', cursive;
    //font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}

.pages{
    font-family: 'Lobster', cursive;
    font-size: 15px;
    font-style: italic;
    color: cadetblue;
    text-decoration: none;
}

footer{
    .footer-h{
        font-family: 'Lobster', cursive;
    }
}

.bdy{
    .bdysec{
        .abt-card{
            font-style: italic !important;
            .hding{
                font-size: 20px !important;
            }
        }
    }
}