$colour-1: whitesmoke;
$colour-2: black;
$colour-3: #f3e2b4;
$complementary-colour-3: #B4C5F3;
$colour-4: #b4f3e2;
$colour-5: #F6F457;
$colour-6: #DBDBCC;
$colour-7: #B4F3C3;

.bgclr-bluiespest{
    background-color: $colour-4;
}

.clr-wheat{
    color: wheat;
}